/* body - The main body for the application. */
body{
    padding: 0;
    margin: 0;
}

/* * - All elements for the application. */
*{
    box-sizing: border-box;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Main Content| */
#content{
    border: 1px solid red;
    margin: 0 auto;
    width: 1000px;
    padding: 10px;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Main Title| */
.main-title-container{
    border: 1px solid black;
    text-align: center;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Form Field| */
#content > form{
    display: block;
    border: 1px solid blue;
    margin-top: 50px;
    text-align: center;
    padding: 10px;  
}

#content > form > div:nth-child(1) > label{
    display: block;
}


